#status-badge{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.btn-large{
    padding: 1rem 2rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: .6rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.bold{
    font-weight: 600;
}

.large-font{
    font-size: 1.3rem;
}

.jumbotron{
    height: 100vh;
}

.card {
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    border-radius: .25rem;
    background-color: white;
}

.full-width{
    width: 100%;
}
.green{
    background-color: #00C851;
}

.red{
    background-color: #ff4444;
}

.white-text{
    color:white;
}
.aws-color{
    background-color: #CF0E5B;
}

.web-color{
    background-color: #E2A52E;
}

.mobile-color{
    background-color: #3AAE84;
}

.db-color{
    background-color: #6EC4CB;
}

.git-color{
    background-color: #3f0f3f;
}

.oo-color{
    background-color: #e51670;
}

.mlai-color{
    background-color: #239CB2;
}

.ux-color{
    background-color: #e0b83e;
}

.algorithms-color{
    background-color: #76be9f;
}

.system-color{
    background-color: #563e58;
}

.os-color{
    background-color: gray;
}

.shell-color{
    background-color: #980746;
}

.other-color{
    background-color: white;
}